.tableData {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  margin-left: 22px;
}

#products {
  border-collapse:separate ;
  border-spacing: 0 2em;
  width: 100%;
  cursor: pointer;
  height: auto;
 
}

#products td,
#products th {

  padding: 10px;

}

/* #products tr:nth-child(even) {
  background-color: #190101;
} */

#products tr:hover {
  background-color: rgb(229, 229, 229);
  color: rgb(42, 41, 41);
}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e4002b;
  color: white;
  font-weight: 700;
}

.SpecificRows{
  border: .15em solid #bfbfbf;
  border-radius: 5px;
  height: 28px;
  width: 150px;
  font-weight: 900;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


td img {
  width: 90px;
  height: 70px;
}
.tableRow{
  border: 1px solid black;
  border-collapse: collapse;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

/* userDetails--------------------------------------------------- */

#myInput {
  margin-left: 250px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.iconAdjustment {
  position: relative;
  left: 290px;
}


.deleteIconAdmin{
  font-size: 14px;
  color: black;
  margin: 0px 2px;
}
.deleteIconAdmin:hover{
  color: #e4002b;
  transform: scaleY(1.1) ;

}

